{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/common.css' %}">
    <style type="text/css">
        body{min-height:2000px;padding-top:70px;}

        .navbar-default{background-color:#ff8800;border-color:#e7e7e7;}
        .navbar-default .navbar-brand{color:#fff;}
        .navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:visited {
            color: #fff;
            width:100px;
            font-size:14px;
            text-align:center;
        }
        .navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:visited,.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav li a:active {
            color:#fff;
            background-color: #FF4500;
            width:100px;
            font-size:14px;
            text-align:center;
        }

        table tr td{font-size:11px;}
        table tr td.price{color:red;}
        table tr td.num span{color:red;padding:0px 5px}
        table tr td.num i{border-width:0px;background-color:#ddd;}

        div.shoplist div.bn{font-size:12px;line-height:25px;}
        div.shoplist div.bn span.price{color:red;}
    </style>
</head>
<body>
    <!-- 页头导航开始 -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'web_index' %}">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> <span style="font-weight:bold;">凉虾点餐</span><span style="font-size:14px;">（大足区）</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'web_index' %}">堂吃点餐</a></li>
            <li><a href="{% url 'web_orders_index' 1 %}?status=1">当前订单</a></li>
            <li><a href="{% url 'web_orders_index' 1 %}?status=3">历史订单</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'myadmin_index' %}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ request.session.webuser.nickname}}</a></li>
            <li><a href="{% url 'web_logout' %}">退出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- 页头导航结束 -->

    <!-- 页面主体开始 -->
    <div class="container">
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购 物 车</div>
                <table class="table table-striped">
                        <tr>
                            <th width="30">序</th>
                            <th>菜品</th>
                            <th width="72">数量</th>
                            <th width="45">价格</th>
                            <th>删除</th>
                        </tr>
                    {% with total_price=0 %}
                    {% for product in request.session.cartlist.values %}

                        {% with product_sub_total_price=product.num|multiply:product.price %}
                        {% with total_price=total_price|add:product_sub_total_price %}
                        <tr>
                            <td id="productCartId" value="{{ forloop.counter }}">{{ forloop.counter }}</td>
                            <td>{{ product.name}}</td>
                            <td class="num">
                                <i onclick="window.location='{% url 'web_cart_change' %}?cartid={{ forloop.counter }}&num={{ product.num|add:-1 }}'" class="btn btn-default btn-xs"> - </i>
                                <span>{{ product.num }}</span>
                                <i onclick="window.location='{% url 'web_cart_change' %}?cartid={{ forloop.counter }}&num={{ product.num|add:1 }}'" class="btn btn-default btn-xs"> + </i></td>
                            <td class="price">{{ product_sub_total_price }}</td>
                            <td><a href="{% url 'web_cart_delete' forloop.counter  %}" class="btn btn-danger btn-xs" role="button">删除</a></td>
                        </tr>
                        {% endwith %}

                        {% with batchings_total_price=0 %}
                            {% with productCartId=forloop.counter %}
                                {% for batching in product.materials   %}
                                     {% with batchings_sub_total=batching.price|multiply:batching.quantity %}
                                        {% with batchings_total_price=batchings_total_price|add:batchings_sub_total %}
                                        {% with total_price=total_price|add:batchings_sub_total %}
                                            <tr>
                                                <td></td>
                                                <td>
                                                    {{ batching.name }}
                                                </td>
                                                <td>
                                                    <i onclick="window.location='{% url 'web_batchings_change' %}?cartid={{ productCartId }}&bid={{ batching.id }}&num={{batching.quantity|add:-1 }}'" class="btn btn-default btn-xs"> - </i>
                                                    {{ batching.quantity }}
                                                     <i onclick="window.location='{% url 'web_batchings_change' %}?cartid={{ productCartId }}&bid={{ batching.id }}&num={{ batching.quantity|add:1 }}'" class="btn btn-default btn-xs"> + </i>
                                                </td>
                                                <td class="price">
                                                    {{ batchings_sub_total }}
                                                </td>
                                                <td>
                                                    <a href="{% url 'web_batchings_delete' productCartId batching.id  %}" class="btn btn-danger btn-xs" role="button">删除</a>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            {% endwith %}
                        {% endwith %}
                        {

                    {% endwith %}

                    {% endfor %}
                    {% endwith %}



                    </table>
                    
                    <li class="list-group-item">
                        <b>购买方式: &nbsp; </b>  
                        <input type="radio" name="ptype" checked value="1"> 堂吃 &nbsp; 
                        <input type="radio" name="ptype" value="2"> 打包 &nbsp; 
                    </li>
                    <li class="list-group-item">
                        <b>支付方式: &nbsp; </b> 
                        <input type="radio" name="bank" checked value="1"> 现金 &nbsp; 
                        <input type="radio" name="bank" value="2"> 支付宝 &nbsp; 
                        <input type="radio" name="bank" value="3"> 微信
                    </li>

                    <div class="panel-footer" style="height:50px">
                        <table>
                            <tr>
                                <th><div style="width:120px;float:left;margin:5px 0px;">合计：￥<span style="color:red;font-weight:bold;">{{ request.session.total_money }}</span> 元</div></th>
                                <th><button type="submit" onclick="dosubmit()" class="btn btn-warning">普通结算</button></th>
                                <th><button type="submit" onclick="doShowMemberOrder()" class="btn btn-warning">会员结算</button></th>
                            </tr>
                            <tr>
                                <th>序号</th>
                                <th><button type="button" onclick="doShowOrderSpeak()" class="btn btn-warning" role="button">叫号</button></th>
                                <th><button onclick="window.location='{% url 'web_cart_clear' %}' "  type="button"  class="btn btn-danger" >清空</button></th>
                            </tr>


                        </table>

                    </div>

            </div>
        </div>
        <div class="col-md-8">
            <!--标签页内容-->
            {% for key,category in categorylist %}

                <h5 style="padding-bottom:9px;border-bottom:1px solid #eee;color:#BB3D00"><span class="glyphicon glyphicon-list" aria-hidden="true"> {{ category.name }}</span></h5>
            <div class="row shoplist">
                {% for product in category.pids %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="{% static 'uploads/product/'%}{{ product.cover_pic }}" width="150" alt="...">
                      <div class="caption">
                        <h6>{{ product.name }}</h6>
                        <div class="bn">￥<span class="price">{{ product.price }}</span>元</a>
                        <button onclick="doBatching({{ product.id }})" class="btn btn-warning btn-xs pull-right" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购买</button></div>
                        <!--TODO 原来web_cart_add api 应该取消,或更改,已无法正常使用
                         <a href=" url 'web_cart_add' product.id %}" class="btn btn-warning btn-xs pull-right" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购买</a></div>-->

                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

            
        </div>
    </div>
    <!-- 页面主体结束 -->

    <!-- Modal -->
    <div class="modal fade" id="myModalSpeak" tabindex="-1" role="dialog" aria-labelledby="myModalSpeakLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalSpeakLabel">叫号列表</h4>
          </div>
          <div class="modal-body">
            <table class="table table-hover">


            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!--button type="button" class="btn btn-primary">保存</button-->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal2 -->
    <div class="modal fade" id="myModalMember" tabindex="-1" role="dialog" aria-labelledby="myModalMember">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalMemberLabel">顾客列表</h4>
          </div>

          <div class="modal-body">

            <div class="box-tools">
              <form action="" method="get">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" id="keyword" name="keyword" class="form-control pull-right" placeholder="昵称/手机号">

              <div class="input-group-btn">
                <button type="button" onclick="doSearchMember()"  class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
              </form>



            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!--button type="button" class="btn btn-primary">保存</button-->
          </div>
        </div>
      </div>
    </div>
        <!-- Modal3 -->
    <div class="modal fade" id="myModalBatching" tabindex="-1" role="dialog" aria-labelledby="myModalBatchingLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalBatchingLabel">小料添加</h4>
          </div>

          <div class="modal-body">
                <div>
                    小料
                </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<!--           < href=" url 'web_cart_add' product.id %" class="btn btn-warning btn-xs pull-right" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购买</a></div>-->
              <button type="button" onclick="doBuyMaterials()" class="btn btn-success" id="buy-materials-btn">购买</button>
          </div>
        </div>
      </div>
    </div>






    <script src="{% static 'web/js/jquery.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>


    <script>
        $('#myModalBatching').on('hidden.bs.modal',function (){
           location.reload()
        });
        //执行订单处理
        function dosubmit(){
            //判断购物车是否没有菜品
            if($("table.table-striped tr").length==1){
                alert("购物车中没有商品选择!")
                return;
            }

            if(!window.confirm("确定进行结算吗?")){
                return;
            }
            //获取要提交的数据
            var ptype=$("input[name='ptype']:checked").val();
            var bank =$("input[name='bank']:checked").val();

            //alert("提交订单"+ptype+bank);
            //执行ajax提交订单
            $.ajax({
                type:"get",
                url:"{% url 'web_orders_insert' %}" ,
                dataType:"text",
                data:{ptype:ptype,bank:bank},
                success:function (res){
                    if(res=="N"){
                      alert("订单处理失败");

                    }else{
                        // 创建 XMLHttpRequest 对象
                        data=JSON.parse(res)
                        console.log(data['order_id'])

                       window.location='/web/payment/wait_payment/'+data['order_id']

                    }

                }

            })

        }

        function doShowOrderSpeak(){
            $.ajax({
                type:'get',
                url:"{% url 'web_orders_orderSpeak' %}",
                dataType:'text',
                data:{status:1},
                async: false,
                success:function(res){
                    $("#myModalSpeak div.modal-body").empty().append(res);
                    $('#myModalSpeak').modal({keyboard:false})
                },
            });
        }

        function doShowMemberOrder(){
            $('#myModalMember').modal({keyboard:false});
        }
        function doSearchMember(){
            var kw=document.getElementById("keyword").value
            console.log(kw)
            $.ajax({
                type:'get',
                url:"{% url 'web_cart_member' %}",
                dataType:'text',
                data:{keyword:kw},
                async: false,
                success:function(res){
                    $("#myModalMember div.modal-body").empty().append(res);
                    $('#myModalMember').modal({keyboard:false})
                },
            });
        }
        function doBatching(pid){
            $.ajax({
                type:'get',
                url:"{% url 'web_batchings_show' %}",
                dataType:'text',
                data:{pid:pid},
                async: false,
                success:function(res){
                    $("#myModalBatching div.modal-body").empty().append(res);
                    $('#myModalBatching').modal({keyboard:false})

                },
            });
        }


    </script>
</body>
</html>